<a href="https://colab.research.google.com/github/Ashutosh-yadav0001/R-Programming/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Define a function named 'my_function' that takes one argument 'x'
my_function <- function(x) {
  # Calculate the square of 'x'
  result <- x^2
  # Return the result
  return(result)
}

# Call the function with the value 5
output <- my_function(5)

# Print the output
print(output)  # Output: 25

[1] 25

In [2]:
# Define a function named 'my_function' that takes one argument 'x'
my_function <- function(x) {
  # Calculate the square of 'x'
  result <- x^2
  # Return the result
  return(result)
}

# Call the function with the value 5
output <- my_function(5)

# Print the output
print(output)  # Output: 25

square = function(x) x**2 # Define square function in R
print(square(5))  # Output: 25

name = function(x) paste("hello my name is", x, sep = " ") # Define name function in R using paste
print(name("Sam")) # Output: hello my name is Sam

[1] 25
[1] 25
[1] "hello my name is Sam"

In [ ]:
# Define a function called 'multi_op' that takes two arguments 'x' and 'y'
multi_op <- function(x, y) {
  sum_result <- x + y  # Calculate the sum
  diff_result <- x - y  # Calculate the difference
  prod_result <- x * y  # Calculate the product

  # Check if y is not zero before performing division
  if (y != 0) {
    div_result <- x / y  # Calculate the division
  } else {
    div_result <- "Division by zero not allowed"  # Handle division by zero
  }

  # Return a list containing all the results
  return(list(sum = sum_result, difference = diff_result, product = prod_result, division = div_result))
}

# Call the function with values 10 and 5
results <- multi_op(10, 5)

# Print the results
print(results)